-
  const people = [{
    id: "janet-mazurine",
    fullName: "Janet Mazurine",
    firstName: "Janet",
    lastName: "Mazurine",
    jobTitle: "HR Recruiter"
  },{
    id: "anders-petersen",
    jobTitle: "Fullstack Developer",
    lastName: "Petersen",
    firstName: "Anders",
    fullName: "Anders Petersen"
  }, {
    id: "pavlovic-abanoriky",
    fullName: "Pavloviç Abañoriky",
    firstName: "Pavloviç",
    lastName: "Abañoriky",
    jobTitle: "CEO"
  }, {
    id: "henrietta-von-lieberknasten",
    fullName: "Henrietta von Lieberknasten",
    firstName: "Henrietta",
    lastName: "von Lieberknasten",
    jobTitle: "Accountant"
  }, {
    id: "ella-mie-stroemstad-henningsen",
    fullName: "Ella Mie Strømstad Henningsen",
    firstName: "Ella Mie",
    lastName: "Strømstad Henningsen",
    jobTitle: "Partner and Chief Operating Officer"
  }]
