-
  const quotes = [{
    quote: "We have never seen anything like it, and probably never will.",
    source: "Janet McBeel, Lead Accounts"
  }, {
    quote: "The way this works is quite literally amazing and extraordinary. Somebody actually took the time to work it out and do the right thing — without compromising the outcome.",
    source: "Sayeed Cross"
  }, {
    quote: "Most excellent 👍",
    source: "Anonymous customer"
  }]
